/site

/*.rbxl
/*.rbxlx
/*.rbxl.lock
/*.rbxlx.lock
/*.rbxm
/*.rbxmx

/src/__tests__/test_parsing_content
/src/__tests__/test_parsing_expect

/temp
/node_modules
/build

.yarn

/globalTypes.d.lua

**/sourcemap.json
